body {
  margin-left: 25%;
  margin-right: 25%;
  background-color: pink;
}

h1 {
  text-align: center;
}

.제목 {
  background-color: #e2f5ff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin: 10px 0;
}

.내용 {
  background-color: #e2f5ff;
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 400px;
  margin-bottom: 100px;
}

.button-container {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.button {
  border-radius: 8px;
  padding: 14px;
}

.delete-button {
  background-color: rgb(221, 112, 112);
}

.edit-button {
  background-color: rgb(99, 148, 221);
}
