div {
    
}

h1 {text-align : center }

.subtitle {
    
}

body {
    margin-left: 25%;
    margin-right: 25%;
}

.글 {
    background-color:#E2F5FF;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    /* margin-bottom: 12px; */
    padding-bottom: 12px;
    border: 2px solid black

}
.title {
    font-weight: bold;

}
.created_at{
    font-size: 12px;
}